 

*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
 
}    
 body{
      background-color: #e8edf2;
 }

header{
  display: flex;
   box-shadow: 1px 2px 2px lightgrey;
  position: sticky;
  top: 0;
  height: 80px;
  background: #fff;
  z-index: 1000;

   background-color: white;
}
nav{
  width: 400px;
   display: flex;
  justify-content: space-evenly;
  margin-left:650px;
  font-size: 22px;
  background-color: white;
  }

  nav a{
    color: black;
    text-decoration: none;
    padding-top:20px;
      cursor: pointer;

    background-color: white;
  }
.login{
  margin-left: 100px;;
  background-color:#373C7D ;
  color: white;
  font-size: 22px;;
  height: 45px;
  width: 100px;
  cursor: pointer;
  margin-top: 15px;;
  padding-top: 8px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
}
/* 373C7D , E8EDF2 */
 main{
  padding: 45px;
 }
.active{
  color: #373C7D;
  text-decoration:underline;
}
/* -------------------------------------------- */


.stepper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 60px auto;
}

.step {
  width: 60px;
  height: 60px;
  background: #343a80;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  z-index: 1;
}
.line {
  flex: 1;
  height: 8px;
  background: white;
}
.line1{
    flex: 1;
  height: 8px;
  background: #4d7399;
}
 
.previous{
  height: 45px;
  width: 100px;
  text-align: center;
  color: black;
  font-size: 20px;
  border-radius: 10px;;
  padding-top: 8px;
  font-weight: 600;
  background-color:#e8edf2;
  box-shadow: 1px 2px 2px black;
  margin-left:50px; 
  cursor: pointer;
  
}
.buttons{
  display: flex;
  margin-top:40px;
  margin-left:300px;
 }
.next1{
    background-color: #343a80;
    color: white;
    height: 45px;
    width: 100px;
    padding-top: 8px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;;
    margin-left:430px;
     box-shadow: 1px 2px 2px black;
    cursor: pointer;
}
.details{
  padding-left: 30px;;
}
.details p{
  color: #4d7399;
  font-size: 18px;;
}
.content{
  padding: 10px;;
  display: flex;
  flex-direction: column;
  gap:10px;
}

.content input,.content select{
  height: 40px;
  width: 600px;
  border: 1px solid #4d7399;
  border-radius: 10px;
  color: #4d7399;
  font-size: 20px;
  box-shadow: 1px 2px 2px lightgray;
}
.content input::placeholder{
  padding-left: 10px;
  color: #4d7399;
}
.add{
  height: 45px;
  width: 150px;
  background-color: #343a80;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding-top: 8px;
  font-size: 22px;
  font-weight: 600;
  margin-left: 600px;;
}
 
 .table-card {
  background: #f8fafc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  overflow: hidden;
  max-width: 1300px;
  margin-left:100px;
}

.family-table {
  width: 100%;
  border-collapse: collapse;
}

.family-table thead tr {
  background: #f8fafc;
  border-bottom: 1px solid #e2e6ea; /* acts like <hr> */
}

.family-table th {
  text-align: left;
  padding: 14px 18px;
  font-size: 14px;
  color: #222;
}

.family-table td {
  padding: 18px;
  font-size: 14px;
  color: #555;
}

.family-table tbody tr {
  border-bottom: 1px solid #e2e6ea;
}

.family-table tbody tr:last-child {
  border-bottom: none;
}

.link {
  color: #3b6fd8;
}
/* --------------------------------------------------- */
 footer{
  background-color: #373C7D;
  height: 150px;

 }
 footer ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  background:transparent;
  padding: 20px;;
 }
 footer ul li{
    background:transparent;

 }
 footer p{
  text-align: center;
  color: white;
  font-size: 20px;;
    background:transparent;

 }
