 

*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
 
}    
 body{
      background-color: #e8edf2;
 }

header{
  display: flex;
   box-shadow: 1px 2px 2px lightgrey;
  position: sticky;
  top: 0;
  height: 80px;
  background: #fff;
  z-index: 1000;

   background-color: white;
}
nav{
  width: 400px;
   display: flex;
  justify-content: space-evenly;
  margin-left:650px;
  font-size: 22px;
  background-color: white;
  }

  nav a{
    color: black;
    text-decoration: none;
    padding-top:20px;
      cursor: pointer;

    background-color: white;
  }
.login{
  margin-left: 100px;;
  background-color:#373C7D ;
  color: white;
  font-size: 22px;;
  height: 45px;
  width: 100px;
  cursor: pointer;
  margin-top: 15px;;
  padding-top: 8px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
}
/* 373C7D , E8EDF2 */
 main{
  padding: 45px;
 }
.active{
  color: #373C7D;
  text-decoration:underline;
}
/* -------------------------------------------- */


.next1{
    background-color: #343a80;
    color: white;
    height: 45px;
    width: 100px;
    padding-top: 8px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;;
    margin-left:430px;
     box-shadow: 1px 2px 2px black;
    cursor: pointer;
}
.stepper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 60px auto;
}

.step {
  width: 60px;
  height: 60px;
  background: #343a80;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  z-index: 1;
}
 

.line {
  flex: 1;
  height: 8px;
  background: white;
}
.line1{
     flex: 1;
  height: 8px;
  background: #4d7399;;
}

.content{
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap:15px;
  font-size: 20px;

}
.content select ,.content input{
  height: 40px;
  width: 600px;
  border: 1px solid #4d7399;
  border-radius: 10px;
    box-shadow: 1px 2px 2px lightgrey;

}

textarea{
  height: 100px;
  width: 600px;
  border: 1px solid #4d7399;
  border-radius: 10px;
}
.content input::placeholder{
  font-size: 20px;
  color: #4d7399;
  padding-left: 10px;;
}
select {
  color: #4d7399;
  font-size: 18px;
    box-shadow: 1px 2px 2px lightgrey;

}
select:has(option[value=""]:checked) {
  color: #4d7399;
}
.previous{
  height: 45px;
  width: 100px;
  text-align: center;
  color: black;
  font-size: 20px;
  border-radius: 10px;;
  padding-top: 8px;
  font-weight: 600;
  background-color:#e8edf2;
  box-shadow: 1px 2px 2px black;
  margin-left:50px; 
  cursor: pointer;
  
}
.buttons{
  display: flex;
 }



/* --------------------------------------------------- */
 footer{
  background-color: #373C7D;
  height: 150px;

 }
 footer ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  background:transparent;
  padding: 20px;;
 }
 footer ul li{
    background:transparent;

 }
 footer p{
  text-align: center;
  color: white;
  font-size: 20px;;
    background:transparent;

 }



