 

*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
 
}    
 body{
      background-color: #e8edf2;
 }

header{
  display: flex;
   box-shadow: 1px 2px 2px lightgrey;
  position: sticky;
  top: 0;
  height: 80px;
  background: #fff;
  z-index: 1000;

   background-color: white;
}
nav{
  width: 400px;
   display: flex;
  justify-content: space-evenly;
  margin-left:650px;
  font-size: 22px;
  background-color: white;
  }

  nav a{
    color: black;
    text-decoration: none;
    padding-top:20px;
      cursor: pointer;

    background-color: white;
  }
.login{
  margin-left: 100px;;
  background-color:#373C7D ;
  color: white;
  font-size: 22px;;
  height: 45px;
  width: 100px;
  cursor: pointer;
  margin-top: 15px;;
  padding-top: 8px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
}
/* 373C7D , E8EDF2 */
 main{
  padding: 45px;
 }
.active{
  color: #373C7D;
  text-decoration:underline;
}
/* -------------------------------------------- */



.stepper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 60px auto;
}

.step {
  width: 60px;
  height: 60px;
  background: #343a80;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  z-index: 1;
}
.line {
  flex: 1;
  height: 8px;
  background: white;
}
.line1{
    flex: 1;
  height: 8px;
  background: #4d7399;
}
 
.previous{
  height: 45px;
  width: 100px;
  text-align: center;
  color: black;
  font-size: 20px;
  border-radius: 10px;;
  padding-top: 8px;
  font-weight: 600;
  background-color:#e8edf2;
  box-shadow: 1px 2px 2px black;
  margin-left:50px; 
  cursor: pointer;
  
}
.buttons{
  display: flex;
  margin-top:40px;
  gap:450px;
  margin-left:300px;
 }

 .upload{
  padding: 10px;;
 }
 .documents{
  margin: auto;
  height: 700px;
  width:1100px ;
  display: flex;
  flex-direction: column;
  gap:10px;
  }
 .box{
  display: flex;
  align-items: center;
  padding: 20px;
  box-shadow: 1px 2px 2px lightgray;
  background-color: white;
 }
 .upload-btn button{
  background-color: #e8edf2;
 height: 45px;
  width: 100px;
  text-align: center;
  padding-top: 5px;
  color: black;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
 
 }
 .b{
   display: flex;
  gap: 10px;
  flex: 1; 
 }
 .icon{
  background-color: #e8edf2;
  height: 45px;
 margin-top: 10px;;
  width: 40px;
 }
 .icon i{
 font-size: 22px;
padding-left: 10px;
margin-top: 15px;
 }


.submit{
  background-color: #343a80;
  color: white;
  height: 45px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  padding-top: 8px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
}

/* --------------------------------------------------- */
 footer{
  background-color: #373C7D;
  height: 150px;

 }
 footer ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  background:transparent;
  padding: 20px;;
 }
 footer ul li{
    background:transparent;

 }
 footer p{
  text-align: center;
  color: white;
  font-size: 20px;;
    background:transparent;

 }