 

*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
 
}    
 body{
      background-color: #e8edf2;
 }

header{
  display: flex;
   box-shadow: 1px 2px 2px lightgrey;
  position: sticky;
  top: 0;
  height: 80px;
  background: #fff;
  z-index: 1000;

   background-color: white;
}
nav{
  width: 400px;
   display: flex;
  justify-content: space-evenly;
  margin-left:650px;
  font-size: 22px;
  background-color: white;
  }

  nav a{
    color: black;
    text-decoration: none;
    padding-top:20px;
      cursor: pointer;

    background-color: white;
  }
.login{
  margin-left: 100px;;
  background-color:#373C7D ;
  color: white;
  font-size: 22px;;
  height: 45px;
  width: 100px;
  cursor: pointer;
  margin-top: 15px;;
  padding-top: 8px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
}
/* 373C7D , E8EDF2 */
 main{
  padding: 45px;
 }
.active{
  color: #373C7D;
  text-decoration:underline;
}
/* -------------------------------------------- */

main h1{
  text-align: center;
}
.content{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 400px;
}
.content input{
  height: 40px;
  width: 600px;
  border-radius: 10px;

}
.content input::placeholder{
  color: #4d7399;
  font-size: 18px;
  padding-left: 10px;
}
.otp{
  height: 45px;
  width: 100px;
  font-weight: 600;
  color: black;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  padding-top: 8px;
  border-radius: 10px;
  background-color: #e8edf2;
  box-shadow: 1px 2px 2px grey;
  margin-left:500px;
  cursor:pointer;
}

.register{
  height: 45px;
  width: 300px;
  font-weight: 600;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  padding-top: 8px;
  border-radius: 10px;
  background-color: #373C7D;
  box-shadow: 1px 2px 2px grey;
  margin-left:550px;
  cursor:pointer;
}
.otp:hover{
  background-color: #373C7D;
  color: white;
}
main p{
  color: #4d7399;
  font-size: 18px;
text-align: center;
margin-top: 40px;;
}
.otp-content p{
color: black;
text-align: left;
font-size: 18px;

}
.otp-content {
  position: fixed;
  top: 80px; 
  left: 50%;
  transform: translateX(-50%);
  
  width: 90%;
  max-width: 1400px;
  height: auto;

  padding: 12px 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.2);
  z-index: 9999;
}
.content input{
  font-size: 20px;
  padding-left: 10px;;

}


/* --------------------------------------------------- */
 footer{
  background-color: #373C7D;
  height: 150px;

 }
 footer ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  background:transparent;
  padding: 20px;;
 }
 footer ul li{
    background:transparent;

 }
 footer p{
  text-align: center;
  color: white;
  font-size: 20px;;
    background:transparent;

 }