 

*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
 
}    
 body{
      background-color: #e8edf2;
 }

header{
  display: flex;
   box-shadow: 1px 2px 2px lightgrey;
  position: sticky;
  top: 0;
  height: 80px;
  background: #fff;
  z-index: 1000;

   background-color: white;
}
nav{
  width: 400px;
   display: flex;
  justify-content: space-evenly;
  margin-left:650px;
  font-size: 22px;
  background-color: white;
  }

  nav a{
    color: black;
    text-decoration: none;
    padding-top:20px;
      cursor: pointer;

    background-color: white;
  }
.login{
  margin-left: 100px;;
  background-color:#373C7D ;
  color: white;
  font-size: 22px;;
  height: 45px;
  width: 100px;
  cursor: pointer;
  margin-top: 15px;;
  padding-top: 8px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
}
/* 373C7D , E8EDF2 */
 main{
  padding: 45px;
 }
.active{
  color: #373C7D;
  text-decoration:underline;
}
/* -------------------------------------------- */










/* --------------------------------------------------- */
 footer{
  background-color: #373C7D;
  height: 150px;

 }
 footer ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  background:transparent;
  padding: 20px;;
 }
 footer ul li{
    background:transparent;

 }
 footer p{
  text-align: center;
  color: white;
  font-size: 20px;;
    background:transparent;

 }

 h1{
    text-align: center;
    font-size: 40px;;
    margin-top:50px;
 }
 .login-page{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 450px;
    padding: 20px;;
    font-size: 22px;
    margin-left:300px;;
 }
 .login-page input{
    height: 45px;
    width: 900px;
    border-radius: 10px;
    border: 1px solid #4d7399;
  }

  .login-page input::placeholder{
    color:#4d7399 ;
    font-size: 20px;
    padding-left: 10px;;
  }

  .forget{
    color: #4d7399;
     margin-left:700px;
  }

  .login-btn{
    height: 45px;
    width: 500px;
    text-align: center;
    background-color: #373C7D;
    color: white;
    font-weight: 600;
    font-size: 22px;
    cursor:pointer;
    padding-top: 8px;
    border-radius: 10px;;
  }
  .new{
      color: #4d7399;
      margin-left:150px;
      margin-top: 20px;;
  }