.faq-container {
  max-width: 800px;
  margin-top: 50px;;
}

h2 {
  margin-bottom: 20px;
}

.faq-item {
  background: #f8fbff;
  border-radius: 10px;
  margin-bottom: 15px;
  width:1000px;
  
  overflow: hidden;
}

.faq-question {
  width: 100%;
  padding: 18px 20px;
  font-size: 16px;
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: 1px solid #373C7D;
}

.faq-question:hover {
  background: #e8f0ff;
}

.icon {
  font-size: 18px;
  transition: transform 0.3s;
  background:transparent;
}
.icon i{
  background: transparent;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  background:transparent;
  background: #ffffff;
  transition: max-height 0.3s ease;
  padding: 0 20px;
}

.faq-answer p {
  padding: 15px 0;
  background: transparent;
}


 

*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;

}    
 body{
       background-color: #e8edf2;
 }

header{
  display: flex;
   box-shadow: 1px 2px 2px lightgrey;
  position: sticky;
  top: 0;
  height: 80px;
  background: #fff;
  z-index: 1000;

   background-color: white;
}
nav{
  width: 400px;
   display: flex;
  justify-content: space-evenly;
  margin-left:650px;
  font-size: 22px;
  background-color: white;
  }

  nav a{
    color: black;
    text-decoration: none;    cursor: pointer;

    padding-top:20px;
    background-color: white;
  }
.login{
  margin-left: 100px;;
  background-color:#373C7D ;
  color: white;
  font-size: 22px;;
  height: 45px;
  width: 100px;    cursor: pointer;

  margin-top: 15px;;
  padding-top: 8px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
}
/* 373C7D , E8EDF2 */
 main{
  padding: 45px;
 }
.active{
  color: #373C7D;
  text-decoration:underline;
}
/* -------------------------------------------- */

.section-3 {
  background-color: white ;
  height: 300px;
 }
.content{
  background:white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
 
}
.content p{
  background: white;
}
.box{
  margin-top:20px;
  height: 35px;
  width: 45px;
  text-align: center;
  background-color: #e8edf2;
  border-radius: 10px;
}
.box i{
  margin-top:10px;
  font-size: 20px;;
}
.content .left{
  display: flex;
   
  gap:10px;
}
.box-c{
  display: flex;
  flex-direction: column;
  
}






/* --------------------------------------------------- */
 footer{
  background-color: #373C7D;
  height: 150px;

 }
 footer ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  background:transparent;
  padding: 20px;;
 }
 footer ul li{
    background:transparent;

 }
 footer p{
  text-align: center;
  color: white;
  font-size: 20px;;
    background:transparent;

 }