 

*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
 
}    
 body{
      background-color: #e8edf2;
 }

header{
  display: flex;
   box-shadow: 1px 2px 2px lightgrey;
  position: sticky;
  top: 0;
  height: 80px;
  background: #fff;
  z-index: 1000;

   background-color: white;
}
nav{
  width: 400px;
   display: flex;
  justify-content: space-evenly;
  margin-left:650px;
  font-size: 22px;
  background-color: white;
  }

  nav a{
    color: black;
    text-decoration: none;
    padding-top:20px;
      cursor: pointer;

    background-color: white;
  }
.login{
  margin-left: 100px;;
  background-color:#373C7D ;
  color: white;
  font-size: 22px;;
  height: 45px;
  width: 100px;
  cursor: pointer;
  margin-top: 15px;;
  padding-top: 8px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
}
/* 373C7D , E8EDF2 */
 main{
  padding: 45px;
 }
.active{
  color: #373C7D;
  text-decoration:underline;
}
/* -------------------------------------------- */

.content{
    display: flex;
    flex-direction: column;
    gap: 10px;;
}
.content label{
    font-weight: 600;
}
.content input{
    height: 40px;
    width: 1100px;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    border-radius: 10px;
}
.content input::placeholder{
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;;
}
.resubmit {
    background-color: #373C7D;
    color: white;
    height: 45px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
    margin-top:30px;
    margin-left: 900px;

}








/* --------------------------------------------------- */
 footer{
  background-color: #373C7D;
  height: 150px;

 }
 footer ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  background:transparent;
  padding: 20px;;
 }
 footer ul li{
    background:transparent;

 }
 footer p{
  text-align: center;
  color: white;
  font-size: 20px;;
    background:transparent;

 }