 

*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
 
}    
 body{
      background-color: #e8edf2;
 }

header{
  display: flex;
   box-shadow: 1px 2px 2px lightgrey;
  position: sticky;
  top: 0;
  height: 80px;
  background: #fff;
  z-index: 1000;

   background-color: white;
}
nav{
  width: 400px;
   display: flex;
  justify-content: space-evenly;
  margin-left:650px;
  font-size: 22px;
  background-color: white;
  }

  nav a{
    color: black;
    text-decoration: none;
    padding-top:20px;
      cursor: pointer;

    background-color: white;
  }
.login{
  margin-left: 100px;;
  background-color:#373C7D ;
  color: white;
  font-size: 22px;;
  height: 45px;
  width: 100px;
  cursor: pointer;
  margin-top: 15px;;
  padding-top: 8px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
}
/* 373C7D , E8EDF2 */
 main{
  padding: 45px;
 }
.active{
  color: #373C7D;
  text-decoration:underline;
}
/* -------------------------------------------- */

.submit{
  background-color: #343a80;
  color: white;
  height: 45px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  padding-top: 8px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 30px;
  font-weight: 600;
}
.review{
display: flex;
flex-direction: column;
gap: 10px;
}
.reviews{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap:10px;

}
.review-1{
    height: 240px;
width: 1400px;
border: 1px solid grey;
display: flex;
 border: 1px solid grey;
  padding: 15px 0;
  margin-bottom: 20px;
 
flex-direction: column;
gap:10px;
}
 
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 20px;
  
}
.row-1{
    border: 1px solid grey;
    width: 1350px;
    margin: auto;
}
.col {
  font-size: 15px;
}

.label {
  color: #4d7399;
  font-weight: 500;
}

.review-2{
    height: 120px;
width: 1400px;
border: 1px solid grey;
display: flex;
 border: 1px solid grey;
  padding: 15px 0;
  margin-bottom: 20px;
 
flex-direction: column;
gap:10px;
}
 .row-2{
    border: 1px solid grey;
    width: 1350px;
    margin: auto;
}
.check{
  margin-left: 20px;;
font-size: 20px;
}
#checkbox{
    height: 20px;
    width: 30px;
}
/* --------------------------------------------------- */
 footer{
    margin-top:50px;
  background-color: #373C7D;
  height: 150px;

 }
 footer ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  background:transparent;
  padding: 20px;;
 }
 footer ul li{
    background:transparent;

 }
 footer p{
  text-align: center;
  color: white;
  font-size: 20px;;
    background:transparent;

 }