 

*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
 
}    
 body{
      background-color: #e8edf2;
 }

header{
  display: flex;
   box-shadow: 1px 2px 2px lightgrey;
  position: sticky;
  top: 0;
  height: 80px;
  background: #fff;
  z-index: 1000;

   background-color: white;
}
nav{
  width: 400px;
   display: flex;
  justify-content: space-evenly;
  margin-left:650px;
  font-size: 22px;
  background-color: white;
  }

  nav a{
    color: black;
    text-decoration: none;
    padding-top:20px;
      cursor: pointer;

    background-color: white;
  }
.login{
  margin-left: 100px;;
  background-color:#373C7D ;
  color: white;
  font-size: 22px;;
  height: 45px;
  width: 100px;
  cursor: pointer;
  margin-top: 15px;;
  padding-top: 8px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
}
/* 373C7D , E8EDF2 */
 main{
  padding: 45px;
 }
.active{
  color: #373C7D;
  text-decoration:underline;
}
/* -------------------------------------------- */

.app{
    text-align: center;
}
.appbox{
    display: flex;
   gap:300px;
   margin-left:200px;
}
.app-img{
    height: 250px;
}
.left{
    line-height:1.5;
}
.left p{
    color: #4d7399;
    font-size: 15px;
}
.next{
    line-height: 2;
    font-size: 20px;
}

#check{
    height: 20px;
    width: 30px;
}
.buttons{
    display: flex;
    gap:100px;
    
    margin-top:30px;
    margin-left: 250px;
}
.view{
    height: 45px;
width: 250px;
background-color: #373C7D;
color: white;
font-weight: 600;
font-size: 20px;
padding-top: 8px;
cursor: pointer;
box-shadow: 1px 2px 2px grey;
border-radius: 10px;
text-align: center;
}
.download{
    height: 45px;
width: 350px;
background-color: #4d7399;
color: white;
font-weight: 600;
font-size: 20px;
padding-top: 8px;
box-shadow: 1px 2px 2px grey;
cursor:pointer;
border-radius: 10px;
text-align: center;
}
.home a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    
}
.home{
    margin-top: 10px;
}


/* --------------------------------------------------- */
 footer{
  background-color: #373C7D;
  height: 150px;

 }
 footer ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  background:transparent;
  padding: 20px;;
 }
 footer ul li{
    background:transparent;

 }
 footer p{
  text-align: center;
  color: white;
  font-size: 20px;;
    background:transparent;

 }