 

*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
 
}    
 body{
      background-color: #e8edf2;
 }

header{
  display: flex;
   box-shadow: 1px 2px 2px lightgrey;
  position: sticky;
  top: 0;
  height: 80px;
  background: #fff;
  z-index: 1000;

   background-color: white;
}
nav{
  width: 400px;
   display: flex;
  justify-content: space-evenly;
  margin-left:650px;
  font-size: 22px;
  background-color: white;
  }

  nav a{
    color: black;
    text-decoration: none;
    padding-top:20px;
      cursor: pointer;

    background-color: white;
  }
.login{
  margin-left: 100px;;
  background-color:#373C7D ;
  color: white;
  font-size: 22px;;
  height: 45px;
  width: 100px;
  cursor: pointer;
  margin-top: 15px;;
  padding-top: 8px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
}
/* 373C7D , E8EDF2 */
 main{
  padding: 45px;
 }
.active{
  color: #373C7D;
  text-decoration:underline;
}
/* -------------------------------------------- */
main{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.board {
  display: flex;
  align-items: center;   /* vertical alignment */
  justify-content: space-between;
  gap: 40px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 40px;
}

.left {
  flex: 1;
  padding: 30px;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.frame {
  width: 500px;
  object-fit: cover;
  height: 230px;
}

.left p{
    color:#4d7399;
}
.apply{
    height: 45px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    background-color: #e8edf2;
    padding-top: 10px;
    cursor: pointer;
    font-weight: 600    ;
    box-shadow: 1px 2px 2px grey;
}
.apply a{
    color: black;
    text-decoration: none;
}






/* --------------------------------------------------- */
 footer{
  background-color: #373C7D;
  height: 150px;

 }
 footer ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  background:transparent;
  padding: 20px;;
 }
 footer ul li{
    background:transparent;

 }
 footer p{
  text-align: center;
  color: white;
  font-size: 20px;;
    background:transparent;

 }