 

*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
 
}    
 body{
      background-color: #e8edf2;
 }

header{
  display: flex;
   box-shadow: 1px 2px 2px lightgrey;
  position: sticky;
  top: 0;
  height: 80px;
  background: #fff;
  z-index: 1000;

   background-color: white;
}
nav{
  width: 400px;
   display: flex;
  justify-content: space-evenly;
  margin-left:650px;
  font-size: 22px;
  background-color: white;
  }

  nav a{
    color: black;
    text-decoration: none;
    padding-top:20px;
      cursor: pointer;

    background-color: white;
  }
.login{
  margin-left: 100px;;
  background-color:#373C7D ;
  color: white;
  font-size: 22px;;
  height: 45px;
  width: 100px;
  cursor: pointer;
  margin-top: 15px;;
  padding-top: 8px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
}
/* 373C7D , E8EDF2 */
 main{
  padding: 45px;
 }
.active{
  color: #373C7D;
  text-decoration:underline;
}
/* -------------------------------------------- */

 .app-img{
    margin-left: 450px;
 }
main h1,main p {
    text-align: center;
    
}
 .number{
    margin-left:430px;
 }
 .num{
    background-color: white;
    height: 45px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px grey;
 }
 .num:focus{
    border: 1px solid #4d7399;
    outline: none;
 }
.buttons{
    display: flex;
    gap:100px;
    margin-left: 440px;
    margin-top:40px
}
.track{
    background-color: #373C7D;
    height: 45px;
    width: 250px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    padding-top: 8px;
    cursor:pointer;
    color: white;
    box-shadow: 1px 2px 2px grey;
}
.dashboard{
     background-color: #e8edf2;
    height: 45px;
    width: 250px;
    cursor:pointer;
    text-align: center;
    font-size: 20px;    box-shadow: 1px 2px 2px grey;

    font-weight: 600;
    border-radius: 10px;
    padding-top: 8px;
    color: black;
}




/* --------------------------------------------------- */
 footer{
  background-color: #373C7D;
  height: 150px;

 }
 footer ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  background:transparent;
  padding: 20px;;
 }
 footer ul li{
    background:transparent;

 }
 footer p{
  text-align: center;
  color: white;
  font-size: 20px;;
    background:transparent;

 }